<template>
  <div>
    <h2 :id="'category-'+category.id">{{category.label[language]}}</h2>
    <p><b>{{keywords}}:</b> {{category.keywords[language]}}</p>
    <p><b>{{song}}: </b> <a :href="category.song.url">{{category.song.label}}</a></p>
    <span v-for="answer of filteredAnswers" :key="answer.id">      
      <blockquote class="blockquote">
        <p class="mb-0">{{getOriginalAnswer(answer.answer).text}}</p>
        <footer class="blockquote-footer">{{age}}: {{answer.age}};<gender :gender="answer.gender"></gender> ; {{job}}: {{answer.job}}; {{location}}: {{answer.location}}</footer>
      </blockquote>
    </span>
  </div>
</template>

<script>
import { answers } from '@/data'
import text from '../../data/text'
import { Card, Collapse, CollapseItem, Tabs, TabPane } from '@/components'
import Gender from './gender'
export default {
  name: 'answer-block',
  components: {
    Card,
    Collapse,
    CollapseItem,
    Gender,
    Tabs,
    TabPane
  },
  props: {
    category: {
      type: Object
    },
    language: {
      type: String,
      default: 'it'
    }
  },
  data () {
    return {
      filteredAnswers: answers.filter((item) => {
        return this.category.answers.indexOf(item.id) > -1
      }),
      keywords: text.keywords[this.language],
      song: text.song[this.language],
      age: text.age[this.language],
      location: text.location[this.language],
      job: text.job[this.language]
    }
  },
  methods: {
    getInitials (name, surname) {
      return `${name[0]}.${surname[0]}`
    },
    getCurrentLanguage (answers) {
      return answers.find((item) => {
        return item.language === this.language
      })
    },
    getOriginalAnswer (answers) {
      return answers.find((item) => {
        return item.original
      }) || {text: ''}
    }
  }
}
</script>