<template>
  <div>
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">{{answerTitle}}</h2>
      </div>
    </div>
    <div class="separator separator-primary"></div>
    <div class="row" v-for="category of categories" :key="category.label[language]">
      <answer-block :category="category" :language="language"></answer-block>
    </div>
  </div>
</template>

<script>
import { categories } from '@/data'
import text from '../../data/text'
import { Collapse, CollapseItem, Tabs, TabPane } from '@/components'
import AnswerBlock from './AnswerBlock'
export default {
  name: 'answer-chapter',
  components: {
    AnswerBlock,
    Collapse,
    CollapseItem,
    Tabs,
    TabPane
  },
  props: {
    language: {
      type: String,
      default: 'it'
    }
  },
  data() {
    return {
      categories: categories,
      answerTitle: text.answersTitle[this.language]
    }
  }
}
</script>