<template>
  <div>
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Personal conclusion</h2>
      </div>
    </div>
    <div class="separator separator-primary"></div>
    <div class="row">
      <p>which are my personal conclusions from this social experiment during the quarantine period on life after the 31-12-2020?</p>
      <p>
        <ol>
          <li> Time has gained new value: my rhythm, my hobbies, and my development come before everything else </li>
          <li> I will not confuse social restrictions with loneliness </li>
          <li> Reading books, listening to music, having conversations, doing handy works.... I will not skip these activities. </li>
          <li> Personal wellbeing: cooking, eating healthy, hygiene and fitness are fundamental everyday aspects for me </li>
          <li> Material ownership is not what matters most: what matters most for me are family, friends, neighbors, gardening and preserving the environment </li>
          <li> Digital tools can be more practical than I imagined when it comes to supporting culture </li>
          <li> Before using something I will ask my self the question: "what do I really and absolutely need?" </li>
          <li> I want to communicate more and multitask less: invest in being available and doing things with effort </li>
          <li> I will pause to listen to the silence: for me, it is quite important to do nothing. </li>
          <li> I want to use my social intelligence to work collaboratively with others, despite the social restrictions we will have to comply with. </li>
        </ol>
      and .... Bella Ciao!
    </p>
      <div class="text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dS4DwXtASJQ?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'conclusion-chapter',
  components: {

  },
  data() {
    return {
      language: 'it'
    }
  }
}
</script>