<template>
  <div>
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Persönliche Folgerungen</h2>
      </div>
    </div>
    <div class="separator separator-primary"></div>
    <div class="row">
      <p>
        Und welche Schlüsse ziehe ich aus diesem Sozialexperiment in der Quarantänezeit für mein Leben nach dem 31-12-2020?
      </p>
      <p>
        <ol>
          <li> Die Zeit-ein neuer Wert: mein Rythmus, meine Hobbys, meine Ziele stehen für mich im Vordergrund. </li>
          <li> Soziale Verzichte verwechsle ich nicht mit Vereinsamung. </li>
          <li> Bücher lesen, Musik hören, reale Dialoge führen, heimwerken,...darauf will ich nicht mehr verzichten. </li>
          <li> Meine Gesundheit zuerst: selber Kochen, gesund essen, Hygiene und tägliche Bewegung sind grundlegend für mich. </li>
          <li> Das Vermögen spielt nicht die entscheidende Rolle: wichtiger sind mir gute Nachbarn, Familie, Freunde, ein blühender Gemüsegarten und eine gesunde Umwelt. </li>
          <li> Die Kulturtechniken des Digitalen sind für mich praktischer als bisher gedacht. </li>
          <li> Konsumieren verbinde ich künftig immer mit der Frage: Was benötige ich wirklich wirklich? </li>
          <li> Ich kommuniziere und betreibe weniger Multitasking: die Kultur der Erreichbarkeit und der Verbindlichkeit will ich wieder praktizieren. </li>
          <li> Ich werde künftig häufig Halt machen, um in Ruhe zu verweilen: “Nichts tun” ist wichtig für mich. </li>
          <li> Ich setze meine soziale Intelligenz ein, um trotz der zu erwartenden gesellschaftlichen Einschränkungen mit anderen Menschen solidarisch und konstruktiv zu handeln. </li>
        </ol>
        und …Bella Ciao
      </p>
      <div class="text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dS4DwXtASJQ?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'conclusion-chapter',
  components: {

  },
  data() {
    return {
    }
  }
}
</script>