<template>
  <div>
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Conclusione</h2>
      </div>
    </div>
    <div class="separator separator-primary"></div>
    <div class="row">
      <p>
        Quali sono le mie conclusioni personali di questo esperimento sociale durante la quarantena per la mia vita dopo il 31-12-2020? 
      </p>
      <p>
        <ol>
          <li> Il tempo “un nuovo valore”: il mio ritmo, i miei hobby, i miei obiettivi prima di tutto. </li>
          <li> Le rinunce sociali non le confonderò con la solitudine. </li>
          <li> Leggere libri, ascoltare musica, dialogare, lavorare manualmente,...a questo non voglio più rinunciare. </li>
          <li> Cura per la mia salute: cucinare, mangiare sano, attenzione all'igiene e muoversi ogni giorno sono aspetti fondamentali per me. </li>
          <li> Il patrimonio materiale non è decisivo: per me contano di più la famiglia, gli amici, i buoni vicini di casa, un orto rigoglioso e un ambiente intatto. </li>
          <li> Le tecniche culturali del mondo digitale sono più pratiche di quello che pensavo finora. </li>
          <li> Prima di consumare qualcosa mi porrò la domanda: “Di che cosa necessito effettivamente e assolutamente?” </li>
          <li> Voglio comunicare veramente e fare meno multitasking: investire nella cultura della reperibilità e dell'impegno vero. </li>
          <li> Spesso mi fermerò per restare nella quiete: per me è importante anche “fare niente”. </li>
          <li> Voglio utilizzare la mia intelligenza sociale per agire in maniera solidale e costruttiva con altre persone, nonostante le restrizioni sociali alle quali dovremo adeguarci. </li>
        </ol>
        e …Bella Ciao
      </p>
      <div class="text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dS4DwXtASJQ?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'conclusion-chapter',
  components: {

  },
  data() {
    return {
      language: 'it'
    }
  }
}
</script>