<template>
  <span style="font-weight: 1000">
    {{ !preferNotToSay ? (isMale ? '♂️' : '♀️' ) : ''}}
  </span>
</template>

<script>
export default {
  props: {
    gender: {
      type: String
    }
  },
  data () {
    return {
      isMale: this.gender === 'M',
      isFemale: this.gender === 'F',
      preferNotToSay: !this.gender
    }
  }
}
</script>