<template>
  <div class="row">
    <p>Liebe Freunde, Bekannte und Freunde der Bekannten.
    <p>Ein herzliches Dankeschön für euer Mitwirken an diesem internationalen Sozialexperiment. </p>
    <p>In dieser schwierigen Zeit des Lockdowns infolge der Corona Virus Pandemie, entwickelte sich bei uns die Neugierde, ob diese unsere “Zwangserfahrung“ außer Unannehmlichkeiten auch Chancen beinhalten möge. Mittels email und WhatsApp haben wir unsere Fragestellung an ca. 50 Adressen versendet, verbunden mit der Bitte weitere FreundInnen zum Mitmachen einzuladen.</p>
    <p>Kurz gefasst, wir wollten eine Schneeballeffekt auslösen, nicht um eine Zukunfts-pro-gnose zu erstellen, nein - wir waren  an einer Art Re-gnose ( siehe M.Horx: <a href="https://www.horx.com/it/48-die-welt-nach-corona" target="_blank">https://www.horx.com/it/48-die-welt-nach-corona</a>) interessiert. Unser Ziel war nicht die Zukunft vorherzusehen, sondern wir wollten von der Zukunft aus einen Blick auf die Gegenwart machen. Klingt ein wenig verrückt, aber warum nicht probieren? </p>
    <p>Zudem wollten wir wissen, wieviele Personen sich auf diese ungewöhnliche Fragestellung einlassen würden und wie unterschiedlich die Feedbacks der verschiedenen geografischen, kulturellen, linguistischen, alters- und genedermäßigen Wirklichkeiten ausfallen würden. </p>
    <p>Das Experiment dauerte 10 Tage vom 4/4/2020 bis zum 13/4/2020. Ca. 130 Antworten haben wir erhalten, viel mehr als von uns erwartet. </p>
    <p>Natürlich stammen die meisten Rücksendungen aus Italien (Südtirol, Marken, Emilia Romagna, Lombardei, …. ). Wir haben aber mit großer Überraschung festgestellt, dass auch Asien, Nord- und Südamerika, Australien geantwortet haben. Leider ist Afrika in diesem Experiment nicht vertreten. </p>
    <p>Die Antworten sind insgesamt 130:
      <ul>
        <li>Sprachen: italienisch 84; deutsch 28; englisch 18 </li>
        <li>Nationen: Italien, Österreich; Deutschland ; USA ; Spanien; Japan; Dänemark; China; Bangladesch; San Marino; Australien; Griechenland; Taiwan; England; Frankreich; Moldawien; Argentinien; Kanada. </li>
        <li>Altersgruppen: von 0-18 Jahre Tot. 6 ; von 19-35 Jahre Tot. 29; von 36-65 Jahre Tot 69; over 65 Jahre Tot.26; </li>
        <li>Gender: weiblich 72 und männlich 58 </li>
        <li>Tätigkeit/Berufe: Gesundheitsberufe, FreiberuflerInnen, SchülerInnen, DozentInnen,Angestellte,HandwerkerInnen, ArbeiterInnen,StudentInnen, KünstlerInnen, PensionistInnen, Arbeitslose, UnternehmerInnen, Führungskräfte, ForscherInnen, …..und sogar eine Neugeborene. </li>
      </ul>
    </p>
    <p>Für eine leichtere Lektüre der Ergebnisse wiederholen wir an dieser Stelle die Fragestellung: “Welche Aspekte meines heutigen Daseins, die ich während der Quarantäne ausprobiert habe, möchte ich für mich auch nach dem 31-12-2020 beibehalten, sobald die derzeitige Ausgangssperre wegen COVID 19 – voraussichtlich - aufgehoben sein wird? Alle eingegangenen Antworten wurden in 9 Kategorien gebündelt. Mit einem Klick auf die verschiedenen Kapitel, die in der Inhaltsangabe angeführt sind, können die LeserInnen die einzelnen Antworten in Originalsprache lesen und ihre subjektiven  Überlegungen dazu anstellen. Jedes Kapitel wird mit einigen Schlüsselbegriffen und mit einer Hintergrundmusik, die thematisch auf die Abschnitte zugeschnitten sind, eingeleitet. Die Antworten können mit einer Übersetzungshilfe in die anderen Sprachen übersetzt werden. </p>
    <p>Alle eingegangenen Antworten wurden in 9 Kategorien gebündelt: 
      <ol>
        <li> <a href="#category-1">volersi bene e cura del sé/Gesund Leben/ Love yourself</a> </li>
        <li> <a href="#category-2">il tempo ritrovato / Zeit, die mir gehört/ Finding new pockets of times</a> </li>
        <li> <a href="#category-3">l'essenziale / Zufrieden sein, mit.../ Strict necessities </a> </li>
        <li> <a href="#category-4">nutrire lo spirito / Das Grundbedürfnis Kultur/  Farm your spirit </a> </li>
        <li> <a href="#category-5">riallacciare i fili / Kontakte (wieder) pflegen/ Building bridges </a> </li>
        <li> <a href="#category-6">il focolare domestico / Zuhause und Familienleben/ Home sweet home </a> </li>
        <li> <a href="#category-7">immersioni digitali / online arbeiten und lernen/ Digital revolution </a> </li>
        <li> <a href="#category-8">IO NOI in un mondo sostenibile/ Gemeinschaftssinn und Umwelt/ Being, in a sustainable environment </a> </li>
        <li> <a href="#category-9">tutto – niente/ Alles-Nichts und viel dazwischen/ What lies between everything and nothing </a> </li>
      </ol>
    </p>
    <p>Persönlich sind wir überzeugt, dass es sich lohnt, in der Zeit nach der Pandemie mit einigen Werkzeugen ausgestattet zu sein , die wir während dieser stressigen Quarantäne zu schätzen gelernt haben;es  braucht dazu unsere eigene Bewusstheit. Diese Aspekte werden in der neuen Welt, die nach dieser Krise entstehen wird, dienlich sein. Die Copingstrategien und die Resilienztheorie deuten darauf hin. </p>
    <p>In der Hoffnung, dass im Vergleich unterschiedlichster Erfahrungen Reflexion Anstöße entstehen und dass dies eine Bereicherung für uns alle darstellen möge , wünschen wir euch eine gute Lektüre, viel Spaß beim Zuhören und Bleibt Gesund. </p>
    <p>Mitarbeiter dieses Experimentes: Reinhard Gunsch, Rosa Ferri, Alessandro Caprarelli, Fabio Zamboni, Oliver Gunsch </p>

  </div>
</template>

<script>
export default {

}
</script>
