<template>
  <div class="row">
    <p>Cari amici, conoscenti e amici dei conoscenti, </p>
    <p>vi ringraziamo di cuore per la vostra partecipazione al nostro esperimento sociale internazionale.</p>
    <p>In questo difficile periodo di lockdown forzato a causa della pandemia per il Coronavirus, ci è nata la curiosità di conoscere se oltre ad aspetti di disagio, questa esperienza contenesse anche delle opportunità. Tramite e-mail e WhatsApp abbiamo inviato a circa 50 indirizzi il nostro quesito chiedendo ad ogni partecipante di invitare a sua volta altri amici.</p>
    <p>Per farla breve abbiamo lanciato una “catena della quarantena” che in tedesco diremmo sfruttare un “Schneeballeffekt”, non per fare una pro-gnosi sul futuro, ma una sorta di re-gnosi (vedi M.Horx: <a href="https://www.horx.com/it/48-die-welt-nach-corona" target="_blank">https://www.horx.com/it/48-die-welt-nach-corona</a>). Il nostro intento non era realizzare una  proiezione futuristica, ma volevamo guardare all’indietro, dal futuro al presente. Suona un po' folle, ma perchè non provarci ?</p>
    <p>Eravamo davvero curiosi di sapere quante persone avrebbero risposto a questo insolito invito e quanto differenti potessero essere i feedback delle diverse realtà geografiche, culturali, linguistiche, di età e genere.</p>
    <p>L’esperimento ha avuto una durata di 10 giorni, dal 4/4/2020 al 13/4/2020. Ci sono stati restituiti circa 130 contributi: di gran lunga di più di quelli che ci aspettavamo.</p>
    <p>Prevalentemente le risposte provengono chiaramente dall'Italia (Alto Adige, Marche, Emilia Romagna, Lombardia … ) ma con stupore abbiamo visto che hanno risposto anche l'Asia, l'America del Nord e del Sud, l’Australia   e tantissime nazioni europee. L'Africa purtroppo non è rappresentata in questo esperimento.
    <p>Le risposte sono in totale 130
      <ul>
        <li> lingua italiana: 84; lingua tedesca: 28;  lingua inglese: 18; </li>
        <li> nazioni partecipanti: Italia;  Austria; Germania; USA; Spagna; Giappone; Danimarca; Cina; Bangladesh; San Marino;  Australia; Grecia; Taiwan; Inghilterra ; Francia; Moldavia; Argentina; Canada.</li>
        <li> per fasce di età sono: da 0-18 anni Tot. 6 ; da 19-35 anni Tot. 29; da 36-65anni Tot 69; over 66 anni Tot.26; </li>
        <li> per genere: Femmine: 72 e Maschi: 58 </li>
        <li> attività / professioni dei partecipanti: operatori sanitari, professionisti, scolari, docenti, impiegati, operai, studenti, pensionati, artisti, artigiani, disoccupati, imprenditori, dirigenti, ricercatori... e addirittura una neonata.</li>
      </ul>
    </p>
    <p> Per facilitare la lettura dei risultati ricordiamo il quesito: “Quali aspetti sperimentati nella mia vita odierna in quarantena vorrei mantenere anche dopo il 31-12-2020  quando, probabilmente, l'attuale reclusione per COVID 19 sarà finita?”. </p>
    <p>Tutte le risposte inviate sono state suddivise in 9 categorie. 
      <ol>
        <li> <a href="#category-1">volersi bene e cura del sé/Gesund Leben/ Love yourself</a> </li>
        <li> <a href="#category-2">il tempo ritrovato / Zeit, die mir gehört/ Finding new pockets of times</a> </li>
        <li> <a href="#category-3">l'essenziale / Zufrieden sein, mit.../ Strict necessities </a> </li>
        <li> <a href="#category-4">nutrire lo spirito / Das Grundbedürfnis Kultur/  Farm your spirit </a> </li>
        <li> <a href="#category-5">riallacciare i fili / Kontakte (wieder) pflegen/ Building bridges </a> </li>
        <li> <a href="#category-6">il focolare domestico / Zuhause und Familienleben/ Home sweet home </a> </li>
        <li> <a href="#category-7">immersioni digitali / online arbeiten und lernen/ Digital revolution </a> </li>
        <li> <a href="#category-8">IO NOI in un mondo sostenibile/ Gemeinschaftssinn und Umwelt/ Being, in a sustainable environment </a> </li>
        <li> <a href="#category-9">tutto – niente/ Alles-Nichts und viel dazwischen/ What lies between everything and nothing </a> </li>
      </ol>
    </p>
    <p> Cliccando sui diversi capitoli dell'indice il lettore/la lettrice potrà consultare le singole risposte in lingua originale e trarne le proprie riflessioni. Ogni capitolo viene introdotto da alcune parole chiave ed è accompagnato da un sottofondo musicale che vuole essere in sintonia con la tematica del paragrafo. Il testo della risposta può essere tradotto anche in un’altra lingua tramite….. </p>
    <p>Siamo convinti che valga la pena di affrontare il dopo pandemia con la consapevolezza di essere attrezzati con i pochi o tanti aspetti che abbiamo apprezzato durante questa quarantena stressante. Le strategie di coping e la teoria della resilienza ce lo suggeriscono. Questi aspetti potranno essere utili nel mondo nuovo che nascerà da questa crisi.  </p>
    <p>Sperando che il confronto con vissuti diversi possa rappresentare uno stimolo di riflessione e comporti un piccolo arricchimento per tutti,  noi vi auguriamo una buona lettura, buon ascolto e rimanete in salute. </p>
    <p>Il presente esperimento è il risultato di una collaborazione tra Reinhard Gunsch, Rosa Ferri, Alessandro Caprarelli,  Fabio Zamboni,  Oliver Gunsch. </p>
  </div>
</template>

<script>
export default {

}
</script>
