<template>
  <div class="row">
    <p>Dear friends, acquaintances, and friends of friends, </p>
    <p>We would like to deeply thank you for your participation in our international social experiment.
    <p>In this challenging period of lockdown due to the Covid pandemic, we became curious to know if the lockdown would result, not only in inconveniences but also in opportunities. By means of email and WhatsApp, we sent our experiment to roughly 50 contacts, asking them to forward it to fellow friends. In short, we launched a chain mail,  or what in German you would call a "Schneeball Effekt", trying to make a forecast about the future by looking at the present (see <a href="https://www.horx.com/it/48-die-welt-nach-corona" target="_blank">https://www.horx.com/it/48-die-welt-nach-corona</a>). Our aim was not to imagine the future, but to look back from the future to the present. Sounds a bit crazy, but why not trying?</p>
    <p>We were incredibly curious to know how many people would accept this unusual invite and how different the answers might be across different geographies, cultures, languages, ages, and gender.The experiment lasted 10 days from April 4th, 2020 until April 13th, 2020. We receive 130 contributions: way more than what we expected.</p>
    <p>Obviously most answers came from Italy (Alto-Adige, Marche, Emilia Romagna, Lombardia,...) but surprisingly we noticed answers from Asia, North and South America, Australia e several European countries. </p>
    <p>Total number of answers: 130
      <ul>
        <li>Per language: Italian: 84; German 28, English 18</li>
        <li>Countries: Italy, Austria, Germany, USA, Spain, Japan, Danimarca, Cina, Bangladesh, San Marino, Australia, Greece, Taiwan, England, France, Moldova, Argentina, Canada </li>
        <li>Per age group: 0-18 years: 6 ; 19-35 years: 29 ; 36-65 years: 69 ; Over 66 years: 26</li>
        <li>Per gender: Female: 72 ; Male: 58</li>
        <li>Participants occupation: healthcare workers, professionals, students, teachers, workers, retired, artists, artisans, unemployed, entrepreneurs, managers, researchers... and even a baby.</li>
      </ul>
    </p>
    <p>To ease the reading of the results we remind you of the original question: "Which of the life habits practiced during this period of quarantine, would I like to maintain after the 31-12-2020, when the current lock-down due to COVID 19 will probably be over?" </p>
    <p>All submitted answers are grouped into 9 categories. 
      <ol>
        <li> <a href="#category-1">volersi bene e cura del sé/Gesund Leben/ Love yourself</a> </li>
        <li> <a href="#category-2">il tempo ritrovato / Zeit, die mir gehört/ Finding new pockets of times</a> </li>
        <li> <a href="#category-3">l'essenziale / Zufrieden sein, mit.../ Strict necessities </a> </li>
        <li> <a href="#category-4">nutrire lo spirito / Das Grundbedürfnis Kultur/  Farm your spirit </a> </li>
        <li> <a href="#category-5">riallacciare i fili / Kontakte (wieder) pflegen/ Building bridges </a> </li>
        <li> <a href="#category-6">il focolare domestico / Zuhause und Familienleben/ Home sweet home </a> </li>
        <li> <a href="#category-7">immersioni digitali / online arbeiten und lernen/ Digital revolution </a> </li>
        <li> <a href="#category-8">IO NOI in un mondo sostenibile/ Gemeinschaftssinn und Umwelt/ Being, in a sustainable environment </a> </li>
        <li> <a href="#category-9">tutto – niente/ Alles-Nichts und viel dazwischen/ What lies between everything and nothing </a> </li>
      </ol>
    </p>
    <p>By clicking on the different chapters on the index you will be able to read the individual answers in their original language. Every chapter is introduced by some keywords and is characterized by a music background in line with the topic of the chapter. Any answer can also be translated by ....</p>
    <p>We believe it is worth facing the future after the lockdown, being aware of the aspects we appreciated during this stressful quarantine. The strategies of coping and the theory of resilience suggest us to do so as well. These aspects may be useful in the world to be born after this crisis.</p>
    <p>Hoping that a comparison with different lives may be a stimulus for further reflections and enrichments for all of you, we wish happy reading, listening and good health. </p>
    <p>This experiment is a result of the collaboration between Reinhard Gunsch, Rosa Ferri, Alessandro Caprarelli, Fabio Zamboni, Oliver Gunsch </p>
</div>
</template>

<script>
export default {

}
</script>
