<template>
  <div>
    <div class="page-header page-header-small">
      <parallax
        class="page-header-image"
        style="background-image: url('arcobaleno.jpg')"
      >
      </parallax>
      <div class="content-center">
        <div class="container">
          <h1 class="title">{{title}}</h1>
        </div>
      </div>
    </div>
    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">{{introductionTitle}}</h2>
          </div>
        </div>
        <div class="separator separator-primary"></div>

        <introduction-row-it v-if="language === 'it'"></introduction-row-it>
        <introduction-row-en v-if="language === 'en'"></introduction-row-en>
        <introduction-row-de v-if="language === 'de'"></introduction-row-de>
        
        <answer-chapter :language="language"></answer-chapter>
        
        <conclusion-chapter-it v-if="language === 'it'"></conclusion-chapter-it>
        <conclusion-chapter-en v-if="language === 'en'"></conclusion-chapter-en>
        <conclusion-chapter-de v-if="language === 'de'"></conclusion-chapter-de>
      </div>
    </div>
    
  </div>
</template>
<script>
import text from '../data/text'
import IntroductionRowIt from './components/IntroductionRowIt'
import IntroductionRowEn from './components/IntroductionRowEn'
import IntroductionRowDe from './components/IntroductionRowDe'
import AnswerChapter from './components/AnswerChapter'
import ConclusionChapterIt from './components/ConclusionChapterIt'
import ConclusionChapterEn from './components/ConclusionChapterEn'
import ConclusionChapterDe from './components/ConclusionChapterDe'

export default {
  name: 'introduzione',
  bodyClass: 'landing-page',
  components: {
    IntroductionRowEn,
    IntroductionRowDe,
    IntroductionRowIt,
    AnswerChapter,
    ConclusionChapterIt,
    ConclusionChapterEn,
    ConclusionChapterDe
  },
  data() {
    const language = this.$route.params.lang ? this.$route.params.lang : 'it'

    return {
      language: language,
      title: text.title[language],
      introductionTitle: text.introductionTitle[language]
    }
  },
  watch: {
    '$route' (to, from) {
      console.log('watch', to, from)
      location.reload()
    }
  }
};
</script>
<style></style>
