<template>
  <div>
    <div class="page-header page-header-small">
      <parallax
        class="page-header-image"
        style="background-image: url('img/bg6.jpg')"
      >
      </parallax>
      <div class="content-center">
        <div class="container">
          <h1 class="title">Esperimento sociale internazionale sulla vita in quarantena.</h1>
        </div>
      </div>
    </div>
    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Risposte organizzate in categorie</h2>
          </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <collapse :multiple-active="false">
              <collapse-item title="Volersi bene e cura del sè" name="1">
                <div>
                  <p><b>Parole chiave</b>: passione per la cucina, alimentarsi consapevolmente; prodotti locali, workout, benessere psicofisico, capacità di stare da soli, ricerca interiore, igiene e salute;</p>
                  <p><b>Brano associato</b> https://www.youtube.com/watch?v=Asuw3J4-tJo</p>
                  <tabs type="primary" vertical class="row">
                    <tab-pane label="A.C, Italia">
                      <blockquote class="blockquote">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">Età: 27; Lavoro: Sviluppatore software; Residenza: Lombardia, Italia</footer>
                      </blockquote>
                    </tab-pane>
                    <tab-pane label="M.G, Italia">
                      <blockquote class="blockquote">
                        <p class="mb-0">Lorem2 ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">Età: 25; Lavoro: Infermiera; Residenza: Lombardia, Italia</footer>
                      </blockquote>
                    </tab-pane>
                    <tab-pane label="O.G, Danimarca">
                      <blockquote class="blockquote">
                        <p class="mb-0">Lorem3 ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">Età: 27; Lavoro: Consulente; Residenza: Lombardia, Italia</footer>
                      </blockquote>
                    </tab-pane>
                  </tabs>
                </div>
              </collapse-item>
              <collapse-item title="Default Collapsible Item 1" name="2">
                <div>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </collapse-item>
              <collapse-item title="Default Collapsible Item 1" name="3">
                <div>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </collapse-item>
            </collapse>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
</template>
<script>
import AnswerChapter from './components/AnswerChapter'
import { Collapse, CollapseItem, Tabs, TabPane } from '@/components'
export default {
  name: 'risposte',
  bodyClass: 'landing-page',
  components: {
    AnswerChapter,
    Collapse,
    CollapseItem,
    Tabs, 
    TabPane
  },
  data() {
    return {
    };
  }
};
</script>
<style></style>
